@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to the payment gateway!</h1>
    <br />
    <p><a href="/swaggerui/index.html">Check out the API docs (swagger)</a></p>
    <p><a href="/metrics">Metrics</a></p>
    <p><a href="/env">Hosting environment info</a></p>
</div>
